.tags {
  display: flex;
  flex-wrap: wrap;
  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--tag-bg-color);
    margin: 0 15px 15px;
  }
}

.icon {
  fill: #8a8a8a;
}

.tab {
  font-size: 11px;
  color: var(--category-tabs-text);
  &_active {
    color: var(--category-tabs-text-active);
  }
}