.wrapper {
  // padding: 16px 0;
  .button {
    width: 100%;
    color: var(--button-color);
    font-size: var(--button-font-size);
    border-radius: var(--button-radius);
    height: var(--button-height);
    padding: 0 12px;
    &[disabled] {
      opacity: 0.5;
    }
    &.default {
      border: 1px solid var(--button-bg-primary);
      background-color: var(--button-bg-primary);
    }
    &.success {
      background-color: var(--button-bg-success);
      border: 1px solid var(--button-bg-success);
    }
    &.warning {
      background-color: var(--button-bg-warning);
      border: 1px solid var(--button-bg-warning);
    }
    &.primary {
      background-color: var(--button-bg-primary);
      border: 1px solid var(--button-bg-primary);
    }
    &.danger {
      background-color: var(--button-bg-danger);
      border: 1px solid var(--button-bg-danger);
    }
  }
}