.tabs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .tab {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    padding: 12px 8px;
    &.active {
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background: var(--tabs-indicator-bg);
      }
    }
  }
  .content {
    background-color: var(--tabs-content-bg);
  }
}