:root {
  --welcome-card-bg: #fff;
  --welcome-text: #fff;
  --welcome-nav-height: 64px;
  --welcome-bg-start: #5d33be;
  --welcome-bg-end: #8f4cd7;

  --button-bg-color: #5c33be;
  --button-color: #fff;
  --button-radius: 8px;
  --button-font-size: 15px;
  --button-height: 48px;
}