:root {
  --font-family-medium: PingFangSC-Medium, sans-serif;
  --primary: #5c33be;
  --error-color: #E10505;
  --amount-text: #53a867;
  --date-text: #999999;
  --tag-color: #8a8a8a;
  --tag-size: 18px;

  --welcome-card-bg: #fff;
  --welcome-text: #fff;
  --welcome-nav-height: 64px;
  --welcome-bg-start: #5d33be;
  --welcome-bg-end: #8f4cd7;

  --button-bg-color: #5c33be;
  --button-color: #fff;
  --button-radius: 8px;
  --button-font-size: 15px;
  --button-height: 48px;
  --button-bg-danger: #E10505;
  --button-bg-success: #00b578;
  --button-bg-warning: #ff8f1f;
  --button-bg-primary: var(--primary);
  --button-border-color: #ddd;

  --z-index-overlay: 16;


  --float-button-text: #fff;
  --float-button-bg: var(--button-bg-color);
  --float-button-width: 56px;
  --float-button-height: 56px;
  --float-button-radius: 50%;

  --navbar-text: #fff;
  --navbar-bg-end: var(--welcome-bg-end);
  --navbar-bg-start: var(--welcome-bg-start);
  --navbar-height: 76px;

  --top-safe-area-height: 24px;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg-color: #fff;
  --overlay-user-bg: #5c33be;
  --overlay-user-text: #fff;

  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --tabs-text: #fff;
  --tabs-bg-color: var(--welcome-bg-end);
  --tabs-content-bg: #fff;
  --tabs-bg-end: var(--welcome-bg-end);
  --tabs-height: 48px;

  --input-number-button-bg: #fff;
  --input-number-button-border-color: #f9f9f9;

  --tag-bg-color: rgba(230, 230, 230, 0.5);
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --tag-bg: #EFEFEF;
  --category-tabs-text: #938a8a;
  --category-tabs-text-active: #000;

  --input-shadow: rgba(0,0,0,0.25);
  --input-border-color: #5c33be;
  --input-min-height: 48px;

  --bar-bg: #CCCCCC;

  --text: #333;
  --text-muted: #666;

  --custom-date-bg: #fff;

  --total-bg: #252A43;
  --total-expenses: #53A867;
  --total-income: #FE7275;
  --total-text: white;

  --list-amount-text: var(--amount-text);
  --list-tag-text: #333;
  --list-time-text: var(--date-text);
}